body {
    margin: 0;
    background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
  }
  
  li {
    background-color: white;
    padding: 8px;
  }
  
  li:hover {
    background: #dadbf9;
  }
  
  a {
    font-weight: 800;
    text-decoration: none;
  }



  /* Seccion Home */

  .header {
  width: 100%;
  height: 300px; /* Ajusta la altura */
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 50%;
  object-fit: cover; /* Hace que cubra todo sin deformarse */
  display: block;
}



/* Hero */
.hero {
  position: relative;
  text-align: center;
}

.hero-image {
  height: 200px;
  border: 1px solid #aaa;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  font-size: 40px;
}

.top-links {
  position: absolute;
  right: 0;
  top: 210px;
  display: flex;
  gap: 20px;
}

.top-links a {
  text-decoration: none;
  color: blue;
}

/* Text */
.hero-text {
  max-width: 600px;
  margin: 40px auto;
}

/* Video Section */
.video-section {
  text-align: center;
}

.video-box {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #888;
}

.video-screen {
  height: 250px;
  border-bottom: 1px solid #888;
}

.video-controls {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.play-btn {
  padding: 5px 10px;
}

.progress-bar {
  flex: 1;
  height: 8px;
  background: #ccc;
  position: relative;
}

.progress {
  width: 40%;
  height: 100%;
  background: #666;
}

.video-icons {
  font-size: 18px;
}

.video-text {
  max-width: 600px;
  margin: 20px auto;
}